Supabase Configuration
SUPABASE_URL=https://cikihoznjxwhwqmnifvy.supabase.co/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNpa2lob3puanh3aHdxbW5pZnZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2OTEyMDksImV4cCI6MjA3NjI2NzIwOX0.C4ED1keyxTUFULpI2zoUIBi-GtZTpBXhFTXXPM8MtQ8
SUPABASE_SERVICE_ROLE_KEY=yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNpa2lob3puanh3aHdxbW5pZnZ5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDY5MTIwOSwiZXhwIjoyMDc2MjY3MjA5fQ.51lRdrlIqAx1ZrTmg5gyCEW_DT6d_Yxai43eXB6lVDU

OpenRouter API (for reasoning)
OPENROUTER_API_KEY=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
rebin501$
ElevenLabs API (for text-to-speech)
ELEVENLABS_API_KEY=sk_37d5a8b72853eb821d224507671c5635706cf7f0f22fab06

