# Frontend Origin
FRONTEND_ORIGIN=http://localhost:5173

# Computer Vision Service
GRADIENT_INFER_URL=http://cv-mock:9000/predict

# OpenRouter API
OPENROUTER_API_KEY=sk-or-v1-8c6c3e1cb9aa8c71f7efe818a1d2bb7bfb48046fa816b49d849f98778dd27f23rebin501$
OPENROUTER_MODEL=google/gemini-1.5-flash

# Supabase
#SUPABASE_URL=your_supabase_url_here
#SUPABASE_ANON_KEY=your_supabase_anon_key_here
#SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here

# ElevenLabs
ELEVENLABS_API_KEY=your_elevenlabs_api_key_here
